$tf/
.vs/
**/**/obj/
.suo
/node_modules
**/typings
packages/
**/*.map
**/ts/**/*.js
**/ts/**/*.map
**/*.user
**/Scripts/Common/**/*.js
**/Scripts/Common/**/*.map
**/Scripts/Shared/**/*.js
**/Scripts/Shared/**/*.map
**/*.ncrunchproject
**/*.ncrunchsolution
**/*.crunchsolution.cache
